#heading{
	font-size:20px;
	text-color:rgb(255, 255, 255);
	text-decoration:underline;
}
.main{
	width:200px;
	background-color:rgb(128, 0, 128);
	border-left-color:rgb(0, 128, 0);
	border-left-width:5px;
	padding:10px;
}